<footer>
  <div class="container-wide">
    <div style="display:flex;align-items:center;justify-content:space-between;gap:1rem;flex-wrap:wrap">
      <div>&copy; {{ site.time | date: '%Y' }} Shahul Hameed Udhuman</div>
      <div><a href="https://github.com/shameed" class="social-icon" aria-label="GitHub" target="_blank">
          <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
            stroke-linecap="round" stroke-linejoin="round">
            <path d="M9 19c-4.418 1.5-4.418-2.5-6-3m12 6v-3.87a3.37 3.37 0 0 0-.94-2.61
             c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 18 3.77
             A5.07 5.07 0 0 0 17.91 1
             S16.73.65 14 2.48
             a13.38 13.38 0 0 0-6 0
             C5.27.65 4.09 1 4.09 1
             A5.07 5.07 0 0 0 4 3.77
             a5.44 5.44 0 0 0-1.5 3.78
             c0 5.42 3.3 6.61 6.44 7
             A3.37 3.37 0 0 0 8 18.13V22" />
          </svg>
        </a>

        <a href="https://www.linkedin.com/in/shahul-hameed-udhuman/" class="social-icon" aria-label="LinkedIn"
          target="_blank">
          <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
            stroke-linecap="round" stroke-linejoin="round">
            <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7
             a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7
             a6 6 0 0 1 6-6z" />
            <rect x="2" y="9" width="4" height="12" />
            <circle cx="4" cy="4" r="2" />
          </svg>
        </a>
      </div>
    </div>
  </div>
</footer>